
/*
<!-- Jake Williams, 58156622, INF 124 -->
*/

h3{
    text-align: center;
}

.toplogo {
    margin: 0px auto;
    display:block
}

.floated_img
{
    float: left;
}

.guitar {
    height: 300px;
    width: 400px;
    display: inline-block;
    margin: 10px;
     -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.guitar:hover {
    position: relative;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1000;
}

.guitartitle {
    
    font-size: 250%;
    font-family: "Impact";
}

.guitarprice {
    font-size: 250%;
    font-family: "Impact";
}

.guitartext {
    font-size: 120%;
    font-family: "Verdana";
}

.orderinfo {
    font-size: 120%;
    font-family: "Helvetica";
    text-decoration: underline;
}
            

	